.RelRow {
    display: flex;
    align-items: center;
    height: 40px;
}

.RelRowGrow {
    flex-grow: 1;
}

.RelRowLabel {
    word-break: break-word;
    margin-right: 10px;
}

.AddRelButton {
    margin-top: 10px;
}
